Ben K. ballot position (6/24/2019)

Section 2

   This document describes cryptographic algorithm identifiers for
   several cryptographic algorithms which use variable length output
   SHAKE functions introduced in [SHA3] which can be used with the
   Internet X.509 Certificate and CRL profile [RFC5280].

nit(?): Is "describes" or "defines" more appropriate?  (Given that NIST has already allocated some of the OIDs in question, I could go either way.) I'd also suggest further rewording, perhaps as:

   This document defines cryptographic algorithm identifiers for several
   cryptographic algorithms that use the variable length output SHAKE
   functions introduced in [SHA3]; these algorithms can be used with the
   Internet X.509 Certificate and CRL profile [RFC5280].

--

   This specification describes the identifiers for SHAKEs to be used in
   X.509 and their meaning.

nit: this seems pretty redundant with the first paragraph of the section.

Section 5.1

   Signatures are used in a number of different ASN.1 structures.  As
   shown in the ASN.1 representation from [RFC5280] below, an X.509
   certificate a signature is encoded with an algorithm identifier in
   the signatureAlgorithm attribute and a signatureValue attribute that
   contains the actual signature.

nit: "an X.509 certificate a signature is encoded" is not grammatical; I think there's a missing "in" at the start?

   The identifiers defined in Section 4 can be used as the
   AlgorithmIdentifier in the signatureAlgorithm field in the sequence
   Certificate and the signature field in the sequence tbsCertificate in
   X.509 [RFC5280].  [...]

nit: I'm a bit confused by the usage "sequence tbsCertificate" -- the name of the ASN.1 SEQUENCE is TBSCertificate, with tbsCertificate reflecting the field name for this sequence as it appears in the Certificate.  (Contrariwise, "the sequence Certificate" makes sense to me, as that is the type name of an ASN.1 SEQUENCE.)  I do note that the sentence "This field MUST contain the same algorithm identifier as the signature field in the sequence tbsCertificate (Section 4.1.2.3" appears in RFC 5280, which includes the same phrasing.

Section 5.1.1

   The RSASSA-PSS algorithm is defined in [RFC8017].  When id-RSASSA-
   PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 specified in Section 4 is
   used, the encoding MUST omit the parameters field.  [...]

Is this requirement redundant with the one in Section 4?
(Similarly in Section 5.1.2.)

   The hash algorithm to hash a message being signed and the hash
   algorithm as the mask generation function used in RSASSA-PSS MUST be
   the same, SHAKE128 or SHAKE256 respectively.  [...]

nit: I think just "as" is not the right grammar, here, and we want "used as" instead.

   SHAKE128 and id-RSASSA-PSS-SHAKE256 respectively.  The mgfSeed is the
   seed from which mask is generated, an octet string [RFC8017].  As
   explained in Step 9 of section 9.1.1 of [RFC8017], the output length
   of the MGF is emLen - hLen - 1 bytes. emLen is the maximum message
   length ceil((n-1)/8), where n is the RSA modulus in bits. hLen is 32
   and 64-bytes for id-RSASSA-PSS-SHAKE128 and id-RSASSA-PSS-SHAKE256
   respectively.  Thus when SHAKE is used as the MGF, the SHAKE output
   length maskLen is (n - 264) or (n - 520) bits respectively.  For
   example, when RSA modulus n is 2048, the output length of SHAKE128 or
   SHAKE256 as the MGF will be 1784 or 1528-bits when id-RSASSA-PSS-
   SHAKE128 or id-RSASSA-PSS-SHAKE256 is used respectively.

nit: Absent some external requirement for the RSA modulus to be a multiple of 8 bits (that I have forgotten about), it seems we need to be more careful about transtioning from the byte length of the MGF output to the bit length of SHAKE output needed, as the ceil() function will vary with the modulus of n base 8.

Section 5.2

   is an OID and optionally associated parameters.  The conventions and
   encoding for RSASSA-PSS and ECDSA public keys algorithm identifiers
   are as specified in Section 2.3 of [RFC3279], Section 3.1 of
   [RFC4055] and Section 2.1 of [RFC5480].

I think this might be better if it calls out sections 2.3.1 and 2.3.5 of RFC 3279 explicitly rather than globbing in a bunch of unrelated subsections.

   The identifier parameters, as explained in Section 4, MUST be absent.

This feels like the fourth time we've said that parameters are absent...

Appendix A

nit: Does "Deterministic" need to be in the comments for the ECDSA smime capabilities?  It's not really something the peer can verify.



> Section 2
> 
> This document describes cryptographic algorithm identifiers for
> several cryptographic algorithms which use variable length output
> SHAKE functions introduced in [SHA3] which can be used with the
> Internet X.509 Certificate and CRL profile [RFC5280].
> 
> nit(?): Is "describes" or "defines" more appropriate? (Given that NIST has already allocated some of the OIDs in question, I could go either way.) I'd also suggest further rewording, perhaps as:

NIST is no longer assigning them. IANA will. But I like "defines" more, so I replaced "describes". 

> 
> This specification describes the identifiers for SHAKEs to be used in
> X.509 and their meaning.
> 
> nit: this seems pretty redundant with the first paragraph of the section.

Thanks. Removed. 

> Section 5.1
> 
> Signatures are used in a number of different ASN.1 structures. As
> shown in the ASN.1 representation from [RFC5280] below, an X.509
> certificate a signature is encoded with an algorithm identifier in
> the signatureAlgorithm attribute and a signatureValue attribute that
> contains the actual signature.
> 
> nit: "an X.509 certificate a signature is encoded" is not grammatical; I think there's a missing "in" at the start?

Good catch. I replaced it with "**in an** X.509 certificate, a signature is encoded"

> The identifiers defined in Section 4 can be used as the
> AlgorithmIdentifier in the signatureAlgorithm field in the sequence
> Certificate and the signature field in the sequence tbsCertificate in
> X.509 [RFC5280]. [...]
> 
> nit: I'm a bit confused by the usage "sequence tbsCertificate" -- the name of the ASN.1 SEQUENCE is TBSCertificate, with tbsCertificate reflecting the field name for this sequence as it appears in the Certificate. (Contrariwise, "the sequence Certificate" makes sense to me, as that is the type name of an ASN.1 SEQUENCE.) I do note that the sentence "This field MUST contain the same algorithm identifier as the signature field in the sequence tbsCertificate (Section 4.1.2.3" appears in RFC 5280, which includes the same phrasing.

Yes, I borrowed the same language from RFC5280. Hmm, to address this I used TBSCertificate. So it now reads 
`signature field in the sequence TBSCertificate in X.509...`

> 
> Section 5.1.1
> 
> The RSASSA-PSS algorithm is defined in [RFC8017]. When id-RSASSA-
> PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 specified in Section 4 is
> used, the encoding MUST omit the parameters field. [...]
> 
> Is this requirement redundant with the one in Section 4?
> (Similarly in Section 5.1.2.)

You are exactly right, but based on feedback from the WG we decided to keep it in both places. The reason was that some folks wanted it in the OID definition section, but then it also makes sense for someone reading the signature section to have it handy. So we kept it in both. 

> 
> The hash algorithm to hash a message being signed and the hash
> algorithm as the mask generation function used in RSASSA-PSS MUST be
> the same, SHAKE128 or SHAKE256 respectively. [...]
> 
> nit: I think just "as" is not the right grammar, here, and we want "used as" instead.

Right, fixed, thanks. 

> SHAKE128 and id-RSASSA-PSS-SHAKE256 respectively. The mgfSeed is the
> seed from which mask is generated, an octet string [RFC8017]. As
> explained in Step 9 of section 9.1.1 of [RFC8017], the output length
> of the MGF is emLen - hLen - 1 bytes. emLen is the maximum message
> length ceil((n-1)/8), where n is the RSA modulus in bits. hLen is 32
> and 64-bytes for id-RSASSA-PSS-SHAKE128 and id-RSASSA-PSS-SHAKE256
> respectively. Thus when SHAKE is used as the MGF, the SHAKE output
> length maskLen is (n - 264) or (n - 520) bits respectively. For
> example, when RSA modulus n is 2048, the output length of SHAKE128 or
> SHAKE256 as the MGF will be 1784 or 1528-bits when id-RSASSA-PSS-
> SHAKE128 or id-RSASSA-PSS-SHAKE256 is used respectively.
> 
> nit: Absent some external requirement for the RSA modulus to be a multiple of 8 bits (that I have forgotten about), it seems we need to be more careful about transtioning from the byte length of the MGF output to the bit length of SHAKE output needed, as the ceil() function will vary with the modulus of n base 8.

Good catch. To be safe I switched the formulas to 8*ceil((n-1)/8) - 264 and 8*ceil((n-1)/8) - 520 throughout the two docs. 

> Section 5.2
> 
> is an OID and optionally associated parameters. The conventions and
> encoding for RSASSA-PSS and ECDSA public keys algorithm identifiers
> are as specified in Section 2.3 of [RFC3279], Section 3.1 of
> [RFC4055] and Section 2.1 of [RFC5480].
> 
> I think this might be better if it calls out sections 2.3.1 and 2.3.5 of RFC 3279 explicitly rather than globbing in a bunch of unrelated subsections.

Thx, fixed. 

> 
> The identifier parameters, as explained in Section 4, MUST be absent.
> 
> This feels like the fourth time we've said that parameters are absent...

We say it once in the OID section. Once in the Public key section and once in the Signature section. The reason is because, as explained above, based on feedback from the WG some folks wanted it in the OID definition section, but then it also makes sense for someone reading the signature and public key section to have it handy. So we kept it in these three places. 
 
> Appendix A
> 
> nit: Does "Deterministic" need to be in the comments for the ECDSA smime capabilities? It's not really something the peer can verify.

Good point, I removed from the ASN.1




Addressed in 1f05671. Closing. 