Minor nits and clarifications (by Tianran from IESG Review)

Tianran pointed out 

> The normative and informative reference in this draft are not clear to me. I think that [RFC8017](Informational) and [RFC8174](BCP) should not be normative reference. And why some standard tack RFC are listed in informative reference?

Editorial:
> line 102: redundand -> redundant
> line 126,129: Deterministric -> Deterministic 
> line 314: algorithsm -> algorithms 
> line 378: subtitutions -> substitutions 
> line 763,777: Determinstic -> Deterministic


> Tianran pointed out
> > The normative and informative reference in this draft are not clear to me. I think that [RFC8017](Informational) and [RFC8174](BCP) should not be normative reference. And why some standard tack RFC are listed in informative reference?

Indeed RFC8017 and RFC8174 are Normative References. RFC8017 is Informational draft but we are keeping it in the Normative References even though idnits complains because we need a normative reference for RSASSA-PSS otherwise someone implementing our draft would not know RSASSA-PSS. RFC4056 does the same thing with RSASS-PSS v2.1. RFC8174 is Normative because we must be read to understand what the capital letters mean in our draft. It is normative in other standards like RFC8366 as well. We have some Informative References that are Standard RFCs. The reason we do that is because someone does not need to read them to understand or implement the proposed draft as per https://ietf.org/blog/iesg-statement-normative-and-informative-references/

> 
> Editorial:
> 
> > line 102: redundand -> redundant
> > line 126,129: Deterministric -> Deterministic 
> > line 314: algorithsm -> algorithms 
> > line 378: subtitutions -> substitutions 
> > line 763,777: Determinstic -> Deterministic

All fixed. 