Daniel M. Secdir last call review draft-ietf-lamps-cms-shakes-11 (7/1/2019)

> 2.  Introduction
> 
>    In the SHA-3 family, two extendable-output functions (SHAKEs),
>    SHAKE128 and SHAKE256, are defined.  Four other hash function
>    instances, SHA3-224, SHA3-256, SHA3-384, and SHA3-512 are also
>    defined but are out of scope for this document.  A SHAKE is a
>    variable length hash function defined as SHAKE(M, d) where the output
>    is a d-bits long digest of message M.  The corresponding collision
>    and second preimage resistance strengths for SHAKE128 are
>    min(d/2,128) and min(d,128) bits respectively (Appendix A.1 [SHA3]).
>    And, the corresponding collision and second preimage resistance
>    strengths for SHAKE256 are min(d/2,256) and min(d,256) bits
>    respectively.
   
since we are introducing d in this section and the specification fixes d later, we may fix d here and list the associated security for the fixed value.

I would also suggest that additional resistance considerations be mentioned in the security consideration with a reference to it in the introduction. Additional consideration would also provide preimage resistance and extends the considerations regarding 128/256 bit security and post quantum resistance.

>    A SHAKE can be used in CMS as the message digest function (to hash
>    the message to be signed) in RSASSA-PSS and ECDSA, message
>    authentication code and as the mask generation function (MGF) in
>    RSASSA-PSS.  This specification describes the identifiers for SHAKEs
>    to be used in CMS and their meaning.
> 
> 3.  Identifiers
> 
>    This section defines four new object identifiers (OIDs) for using
>    SHAKE128 and SHAKE256 in CMS.

It is unclear to me if this section defines OIDs. Instead, it seems to me that the section lists OIDs for convenience but these are defined in other documents.

>   Two object identifiers for SHAKE128 and SHAKE256 hash functions are
>   defined in [shake-nist-oids] and we include them here for
>   convenience.
>
>     id-shake128 OBJECT IDENTIFIER ::= { joint-iso-itu-t(2)
>          country(16) us(840) organization(1) gov(101) csor(3)
>          nistAlgorithm(4) 2 11 }
>
>     id-shake256 OBJECT IDENTIFIER ::= { joint-iso-itu-t(2)
>          country(16) us(840) organization(1) gov(101) csor(3)
>          nistAlgorithm(4) 2 12 }
>
>   In this specification, when using the id-shake128 or id-shake256
>   algorithm identifiers, the parameters MUST be absent.  That is, the
>   identifier SHALL be a SEQUENCE of one component, the OID.

It might be clearer if the AlgoritmIdentifier structure is added for convenience or referenced maybe by RFC5280 in the document.

On the other hand, I am also inclined to think that this section may be replaced with a reference to lamps-pkix-shake.and the list of id-*. This could be one sentence in the introduction

> 4.1.  Message Digests
> 
>    The id-shake128 and id-shake256 OIDs (Section 3) can be used as the
>    digest algorithm identifiers located in the SignedData, SignerInfo,
>    DigestedData, and the AuthenticatedData digestAlgorithm fields in CMS  x  [RFC5652].  The encoding MUST omit the parameters field and the

I might be missing one level of encapsulation, but my understanding is that digest algorithm identifiers and algorithm identifiers have the same structure. If that is correct, it seems that the requirement to omit the parameters is redundant with the definition of the algorithm identifiers as well as with lamps-pkix-shake.

I am reading the sentence as it provides some requirements on the message format (no parameters are provided) as well as the setting of an output size. I interpret the output size as a parameter for the message-digesting algorithm as opposed as a parameter that is provided in the message. If that is the case, that might be specified explicitly and maybe in two different sentences as to avoid coupling requirements of different nature.

>    output size, d, for the SHAKE128 or SHAKE256 message digest MUST be
>    256 or 512 bits respectively.
> 
>    The digest values are located in the DigestedData field and the
>    Message Digest authenticated attribute included in the
>    signedAttributes of the SignedData signerInfo.  In addition, digest
>    values are input to signature algorithms.  The digest algorithm MUST
>    be the same as the message hash algorithms used in signatures.
> 
> 4.2.  Signatures
> 
>    In CMS, signature algorithm identifiers are located in the SignerInfo
>    signatureAlgorithm field of SignedData content type and
>    countersignature attribute.  Signature values are located in the
>    SignerInfo signature field of SignedData content type and
>    countersignature attribute.
> 
>    Conforming implementations that process RSASSA-PSS and ECDSA with
>    SHAKE signatures when processing CMS data MUST recognize the
>    corresponding OIDs specified in Section 3.
> 
>    When using RSASSA-PSS or ECDSA with SHAKEs, the RSA modulus and ECDSA
>    curve order SHOULD be chosen in line with the SHAKE output length.
>    In the context of this document SHAKE128 OIDs are RECOMMENDED for
>    2048 or 3072-bit RSA modulus or curves with group order of 256-bits.
>    SHAKE256 OIDs are RECOMMENDED for 4096-bit RSA modulus and higher or
>    curves with group order of 384-bits and higher.

I believe a reference to the security consideration  should be provided with further discussions on the meaning of  "in line".  The security consideration should maybe provide a reference that correlates symmetric - as CMS can be used with AES -, factoring modulus Elliptic curves and hash. Though the current security consideration reference SP800-78-4 and SP800-107, maybe the following ones could be used in the security consideration. They look more recent but I have not deeply looked at those.

Algorithms, Key Size and Protocols Report (2018), H2020-ICT-2014 – Project 645421, D5.4, ECRYPT-CSA, 02/2018. * Recommendation for Key Management, Special Publication 800-57 Part 1 Rev. 4, NIST, 01/2016.

> 4.2.1.  RSASSA-PSS Signatures
> 
>    The RSASSA-PSS algorithm is defined in [RFC8017].  When id-RSASSA-
>    PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 specified in Section 3 is
>    used, the encoding MUST omit the parameters field.  That is, the
>    AlgorithmIdentifier SHALL be a SEQUENCE of one component, id-RSASSA-
>    PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256.  [RFC4055] defines RSASSA-
>    PSS-params that are used to define the algorithms and inputs to the
>    algorithm.  This specification does not use parameters because the
>    hash, mask generation algorithm, trailer and salt are embedded in the
>    OID definition.

This is a similar comment as the one provided earlier. It does not seem to me that this document "specifies" (in section 3) algorithms. It seems to me these algorithms are provided for convenience but are specified in pkix-shake.

Similarly, the absence of parameter does not seems to me necessary here

unless I am missing something. It seems that MUST and SHALL are aiming at preventing the NULL parameter, I am wondering if there are any reasons for having different terms.

The explanation may be moved to section 3.

>   The hash algorithm to hash a message being signed and the hash
>   algorithm as the mask generation function used in RSASSA-PSS MUST be
>   the same, SHAKE128 or SHAKE256 respectively.  The output-length of
>   the hash algorithm which hashes the message SHALL be 32 or 64 bytes
>   respectively.

I suggest we use bytes or bits in the document.

> 4.2.2.  ECDSA Signatures
> 
>    The Elliptic Curve Digital Signature Algorithm (ECDSA) is defined in
>    [X9.62].  When the id-ecdsa-with-shake128 or id-ecdsa-with-shake256
>    (specified in Section 3) algorithm identifier appears, the respective
>    SHAKE function is used as the hash.  The encoding MUST omit the
>    parameters field.  That is, the AlgorithmIdentifier SHALL be a
>    SEQUENCE of one component, the OID id-ecdsa-with-shake128 or id-
>    ecdsa-with-shake256.

same comment regarding the parameter field 

> 4.3.  Public Keys
>    The identifier parameters, as explained in Section 3, MUST be absent.

Same comment as above.

4.4.  Message Authentication Codes

> 6.  Security Considerations
> 
>    This document updates [RFC3370].  The security considerations section
>    of that document applies to this specification as well.
> 
>    NIST has defined appropriate use of the hash functions in terms of
>    the algorithm strengths and expected time frames for secure use in
>    Special Publications (SPs) [SP800-78-4] and [SP800-107].  These
>    documents can be used as guides to choose appropriate key sizes for
>    various security scenarios.
> 
>    When more than two parties share the same message-authentication key,
>    data origin authentication is not provided.  Any party that knows the
>    message-authentication key can compute a valid MAC, therefore the
>    content could originate from any one of the parties.

I would suggest to add some considerations on resistance with post quantum computers.


The description of the fixes for Dan's feedback are below. The latest version of the draft that includes them in git is at https://github.com/csosto-pk/adding-shake-to-pkix/blob/master/draft-ietf-lamps-cms-shakes-current.txt 

> > 2.  Introduction
> > 
> >    In the SHA-3 family, two extendable-output functions (SHAKEs),
> >    SHAKE128 and SHAKE256, are defined.  Four other hash function
> >    instances, SHA3-224, SHA3-256, SHA3-384, and SHA3-512 are also
> >    defined but are out of scope for this document.  A SHAKE is a
> >    variable length hash function defined as SHAKE(M, d) where the output
> >    is a d-bits long digest of message M.  The corresponding collision
> >    and second preimage resistance strengths for SHAKE128 are
> >    min(d/2,128) and min(d,128) bits respectively (Appendix A.1 [SHA3]).
> >    And, the corresponding collision and second preimage resistance
> >    strengths for SHAKE256 are min(d/2,256) and min(d,256) bits
> >    respectively.
>    
> since we are introducing d in this section and the specification fixes d later, we may fix d here and list the associated security for the fixed value.

Fixed. Added a sentence that reads 
```In this specification we use d=256 (for SHAKE128) and d=512 (for SHAKE256).```

> I would also suggest that additional resistance considerations be mentioned in the security consideration with a reference to it in the introduction. Additional consideration would also provide preimage resistance and extends the considerations regarding 128/256 bit security and post quantum resistance.

I did add a section to talk about security levels of the SHAKEs and the security levels of the chosen RSA modulus and EC group order.  Based on previous feedback for the draft we refrained from adding general XOF or hash security considerations other than the NIST SP references. Previous standards don't do it and I think explaining to a CMS or PKIX implementer the intricacies of the security of a hash function would not help him in implementing this draft. These algorithms are approved by the appropriate standard body and the output length we are using is secure, so I don't think we should add too much general text about preimage resistance, quantum resistance etc.  

> >    A SHAKE can be used in CMS as the message digest function (to hash
> >    the message to be signed) in RSASSA-PSS and ECDSA, message
> >    authentication code and as the mask generation function (MGF) in
> >    RSASSA-PSS.  This specification describes the identifiers for SHAKEs
> >    to be used in CMS and their meaning.
> > 
> > 3.  Identifiers
> > 
> >    This section defines four new object identifiers (OIDs) for using
> >    SHAKE128 and SHAKE256 in CMS.
> 
> It is unclear to me if this section defines OIDs. Instead, it seems to me that the section lists OIDs for convenience but these are defined in other documents.

You are right. We already addressed this based on previous feedback from the ballot reviews. The text now reads 
```This section identifies eight new object identifiers [...]```

> >   Two object identifiers for SHAKE128 and SHAKE256 hash functions are
> >   defined in [shake-nist-oids] and we include them here for
> >   convenience.
> >
> >     id-shake128 OBJECT IDENTIFIER ::= { joint-iso-itu-t(2)
> >          country(16) us(840) organization(1) gov(101) csor(3)
> >          nistAlgorithm(4) 2 11 }
> >
> >     id-shake256 OBJECT IDENTIFIER ::= { joint-iso-itu-t(2)
> >          country(16) us(840) organization(1) gov(101) csor(3)
> >          nistAlgorithm(4) 2 12 }
> >
> >   In this specification, when using the id-shake128 or id-shake256
> >   algorithm identifiers, the parameters MUST be absent.  That is, the
> >   identifier SHALL be a SEQUENCE of one component, the OID.
> 
> It might be clearer if the AlgoritmIdentifier structure is added for convenience or referenced maybe by RFC5280 in the document.

This was discussed before in the WG. We removed ASN.1 that can be found in other standards to avoid clutter. The intention is for an implementer that reads this to be able to go add these OIDs in his code, but if he had to implement from scratch he would definitely have to go back to the referenced standards to check out the rest of the ASN.1 that we assume is already known. 

> On the other hand, I am also inclined to think that this section may be replaced with a reference to lamps-pkix-shake.and the list of id-*. This could be one sentence in the introduction. 

Yes. We add the OIDS for reference and ease of use. They are not brand new, you are right. We already have added text in the latest iteration that spells out where these OIDs are define PKIX draft or elsewhere. These sentences read 
```[...]Two object identifiers for SHAKE128 and SHAKE256 hash functions[...] define in <reference x>``` or 
```I-D.ietf-lamps-pkix-shake [ EDNOTE: Update reference with the RFC when it is ready ] defines two identifiers for RSASSA-PSS signatures [...]```


> > 4.1.  Message Digests
> > 
> >    The id-shake128 and id-shake256 OIDs (Section 3) can be used as the
> >    digest algorithm identifiers located in the SignedData, SignerInfo,
> >    DigestedData, and the AuthenticatedData digestAlgorithm fields in CMS  x  [RFC5652].  The encoding MUST omit the parameters field and the
> 
> I might be missing one level of encapsulation, but my understanding is that digest algorithm identifiers and algorithm identifiers have the same structure. If that is correct, it seems that the requirement to omit the parameters is redundant with the definition of the algorithm identifiers as well as with lamps-pkix-shake.

Right. We say it once in the OID section. Once in the Public key, Message Digest section and once in the Signature section. The reason is because based on feedback from the WG some folks wanted it in the OID definition section, but then it also makes sense for someone reading the signature, message digest and public key section to have it handy. So we kept it in these four places.

> I am reading the sentence as it provides some requirements on the message format (no parameters are provided) as well as the setting of an output size. I interpret the output size as a parameter for the message-digesting algorithm as opposed as a parameter that is provided in the message. If that is the case, that might be specified explicitly and maybe in two different sentences as to avoid coupling requirements of different nature. 

I rephrased slightly to make clearer. It now reads 
```The **OID** encoding MUST omit the parameters field and the **output length of SHA256 or SHAKE256 as the message digest** MUST be 256 or 512 bits, respectively.```


> >    output size, d, for the SHAKE128 or SHAKE256 message digest MUST be
> >    256 or 512 bits respectively.
> > 
> >    The digest values are located in the DigestedData field and the
> >    Message Digest authenticated attribute included in the
> >    signedAttributes of the SignedData signerInfo.  In addition, digest
> >    values are input to signature algorithms.  The digest algorithm MUST
> >    be the same as the message hash algorithms used in signatures.
> > 
> > 4.2.  Signatures
> > 
> >    In CMS, signature algorithm identifiers are located in the SignerInfo
> >    signatureAlgorithm field of SignedData content type and
> >    countersignature attribute.  Signature values are located in the
> >    SignerInfo signature field of SignedData content type and
> >    countersignature attribute.
> > 
> >    Conforming implementations that process RSASSA-PSS and ECDSA with
> >    SHAKE signatures when processing CMS data MUST recognize the
> >    corresponding OIDs specified in Section 3.
> > 
> >    When using RSASSA-PSS or ECDSA with SHAKEs, the RSA modulus and ECDSA
> >    curve order SHOULD be chosen in line with the SHAKE output length.
> >    In the context of this document SHAKE128 OIDs are RECOMMENDED for
> >    2048 or 3072-bit RSA modulus or curves with group order of 256-bits.
> >    SHAKE256 OIDs are RECOMMENDED for 4096-bit RSA modulus and higher or
> >    curves with group order of 384-bits and higher.
> 
> I believe a reference to the security consideration  should be provided with further discussions on the meaning of  "in line".  The security consideration should maybe provide a reference that correlates symmetric - as CMS can be used with AES -, factoring modulus Elliptic curves and hash. Though the current security consideration reference SP800-78-4 and SP800-107, maybe the following ones could be used in the security consideration. They look more recent but I have not deeply looked at those.
> 
> Algorithms, Key Size and Protocols Report (2018), H2020-ICT-2014 – Project 645421, D5.4, ECRYPT-CSA, 02/2018. * Recommendation for Key Management, Special Publication 800-57 Part 1 Rev. 4, NIST, 01/2016.

Good point. To address this I added a paragraph in the Security consideration saying 
```
   SHAKE128 with output length of 256-bits offers 128-bits of collision
   and 256-bits of preimage resistance.  Thus, SHAKE128 OIDs in this
   specification are RECOMMENDED with 2048 (112-bit security) or
   3072-bit (128-bit security) RSA modulus or curves with group order of
   256-bits (128-bit security).  SHAKE256 with 512-bits output length
   offers 256-bits of collision and 512-bits of preimage resistance.
   Thus, the SHAKE256 OIDs in this specification are RECOMMENDED with
   4096-bit RSA modulus or higher or curves with group order of 384-bits
   (256-bit security) or higher.  Note that we recommended 4096-bit RSA
   because we would need 15360-bit modulus for 256-bits of security
   which is impractical for today's technology.
```
and I point to it to explain the "inline.

> > 4.2.1.  RSASSA-PSS Signatures
> > 
> >    The RSASSA-PSS algorithm is defined in [RFC8017].  When id-RSASSA-
> >    PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 specified in Section 3 is
> >    used, the encoding MUST omit the parameters field.  That is, the
> >    AlgorithmIdentifier SHALL be a SEQUENCE of one component, id-RSASSA-
> >    PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256.  [RFC4055] defines RSASSA-
> >    PSS-params that are used to define the algorithms and inputs to the
> >    algorithm.  This specification does not use parameters because the
> >    hash, mask generation algorithm, trailer and salt are embedded in the
> >    OID definition.
> 
> This is a similar comment as the one provided earlier. It does not seem to me that this document "specifies" (in section 3) algorithms. It seems to me these algorithms are provided for convenience but are specified in pkix-shake.

Right, we ensure we provide a reference to the doc to make clear that these OIDs are not new. They are from the PKIX doc. We only keep this text for convenience. In general, there is a lot of redundancy between these two docs which was brought up before in the WG. That is helpful in a sense that a PKIX implementer does not have to read the CMS related things, but it leads to a lot of text repeating. If we were starting over we probably would be writing only one doc, but based on that these docs are in the WG charter for a long time already we will stay with two documents. 

> Similarly, the absence of parameter does not seems to me necessary here

See comment above. We only kept this redundancy to make the implementer's life easier. 

> unless I am missing something. It seems that MUST and SHALL are aiming at preventing the NULL parameter, I am wondering if there are any reasons for having different terms.

Good point. RFC2119 explains that "MUST" and "SHALL" have the same meaning. We only used "SHALL" in this specification when repeating a "MUST" stated in the previous sentence. In other words, we use "SHALL" in sentences that start with "That is, [...]". These sentences repeat the MUST of the previous sentence in another way. There is no specific reason we did that. We just wanted to avoid repeating a "MUST" as the point is to explain it in a different way. 

> 
> The explanation may be moved to section 3.

I would rather keep it as standalone to make an implementer's life that is reading this doc easier. 


> >   The hash algorithm to hash a message being signed and the hash
> >   algorithm as the mask generation function used in RSASSA-PSS MUST be
> >   the same, SHAKE128 or SHAKE256 respectively.  The output-length of
> >   the hash algorithm which hashes the message SHALL be 32 or 64 bytes
> >   respectively.
> 
> I suggest we use bytes or bits in the document.

Agreed. See comment above. We only kept this redundancy to make the implementer's life easier. 

> > 4.2.2.  ECDSA Signatures
> > 
> >    The Elliptic Curve Digital Signature Algorithm (ECDSA) is defined in
> >    [X9.62].  When the id-ecdsa-with-shake128 or id-ecdsa-with-shake256
> >    (specified in Section 3) algorithm identifier appears, the respective
> >    SHAKE function is used as the hash.  The encoding MUST omit the
> >    parameters field.  That is, the AlgorithmIdentifier SHALL be a
> >    SEQUENCE of one component, the OID id-ecdsa-with-shake128 or id-
> >    ecdsa-with-shake256.
> 
> same comment regarding the parameter field 

Agreed. See comment above. We only kept this redundancy to make the implementer's life easier. 

> > 4.3.  Public Keys
> >    The identifier parameters, as explained in Section 3, MUST be absent.
> 
> Same comment as above.

See comment above. We only kept this redundancy to make the implementer's life easier. 

> 4.4.  Message Authentication Codes

> > 6.  Security Considerations
> > 
> >    This document updates [RFC3370].  The security considerations section
> >    of that document applies to this specification as well.
> > 
> >    NIST has defined appropriate use of the hash functions in terms of
> >    the algorithm strengths and expected time frames for secure use in
> >    Special Publications (SPs) [SP800-78-4] and [SP800-107].  These
> >    documents can be used as guides to choose appropriate key sizes for
> >    various security scenarios.
> > 
> >    When more than two parties share the same message-authentication key,
> >    data origin authentication is not provided.  Any party that knows the
> >    message-authentication key can compute a valid MAC, therefore the
> >    content could originate from any one of the parties.
> 
> I would suggest to add some considerations on resistance with post quantum computers. 

I did add a section to talk about security levels of the SHAKEs and the security levels of the chosen RSA modulus and EC group order. Similar as the comment from above, based on previous feedback for the draft we refrained from adding general XOF or hash security considerations other than the NIST SP references. Previous standards don't do it and I think explaining to a CMS or PKIX implementer the intricacies of the security of a hash function would not help him in implementing this draft. These algorithms are approved by the appropriate standard body and the output length we are using is secure, so I don't think we should add too much general text about preimage resistance, quantum resistance etc. 




Addressed in https://github.com/csosto-pk/adding-shake-to-pkix/commit/dbfd5854f007c8860044f0b8da03e3f77ee4b244
Closing. 