draft-ietf-lamps-cms-shakes-01 message digests by Jim

Message Digests - are the limits on the size only for CMS or do they apply
everywhere that the algorithm is used.  If it is everywhere how do we
reconcile with the usage in RSA-PSS? 

By Quynh

> Only in CMS, when a message digest is generated. For RSA-PSS,  a SHAKE has 2 different output sizes for 2 different uses: hashing a message to be signed and generating a masking value in MGF 1. 

[JLS] After looking at this a second time, I propose that this problem be solved by creation of a new mask generation function MGF-V.   We can eliminate the counter from the operation as being un-needed and just compute the mask length and generate that many bits of input from a SHAKE function.

By Quynh 

> I thought about that. But that would be another standard function which have not been defined  yet. How could we go from here ? And this route would take time. Using the existing MGF 1 would waste only 1 division: to figure out counter number is zero: so there is only one hash function execution. 

[JLS2] No it is more than that.  It takes both the one division AND a concatenation AND the strangeness for trying to decide how long the SHAKE output is if one is placing it into an existing MGF1 piece of code.  If you define a new MGF-V then there is a new function that is called – which code should potentially be setup for – and zero extra work beyond that.  The size of the mask is the size of the output, no concatenation.  It is much cleaner in my opinion.

CFRG was good with replacing MFG with SHAKE (seed, length) in RSA-PSS. 

Also see the TLS WG https://www.ietf.org/mail-archive/web/tls/current/msg19449.html

> You could also use SHAKE in PSS to replace MGF1. This is probably desirable if you intent to use PSS with SHA-3.


Fixed as 

>   In RSASSA-PSS, a mask generation function takes an octet string of
>   variable length and a desired output length as input, and outputs an
>   octet string of the desired length.  In RSASSA-PSS with SHAKES, the
>   SHAKEs MUST be used natively as the MGF1 function, instead of the
>   MGF1 algorithm that uses the hash function in multiple iterations as
>   specified in Section B.2.1 of [RFC8017].  In other words, the MGF1 is
>   defined as
>
>       SHAKE128(mgfSeed, maskLen)
>
>   and
>
>       SHA256(mgfSeed, maskLen)
>
>   respectively for id-RSASSA-PSS-SHAKE128 and id-RSASSA-PSS-SHAKE256.
>   The mgfSeed is the seed from which mask is generated, an octet
>   string.  The maskLen for SHAKE128 or SHAKE256 being used as the MGF1
>   is (n - 264)/8 or (n - 520)/8 bytes respectively, where n is the RSA
>   modulus in bits.  For example, when RSA modulus n is 2048, the output
>   length of SHAKE128 or SHAKE256 in the MGF1 will be 223 or 191 when
>   id-RSASSA-PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 is used
>   respectively.